# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
*.cache/
*.tmp/

# Logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage/
.nyc_output

# React
build/
.cache/
public/

# Tailwind CSS
*.css.map

# FastAPI & Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.pyc
*.pyo
*.pyd
.Python
.mypy_cache/
.pytest_cache/
pip-log.txt
venv/

# Environment variables
.env
.env.test
.env.production
.env.local
.env.development
.env.test

# IDE and editor directories/files
.vscode/
.idea/
.history/
.tern-port

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Docker
docker-compose.override.yml
.dockerignore
.docker/
.serverless/

# Package managers
bower_components/
jspm_packages/
node_modules/
.yarn-integrity
.rpt2_cache/
.rts2_cache_*

# TypeScript
*.tsbuildinfo

# Miscellaneous
.cache/
.nuxt
.next
.vuepress/dist
.fusebox/
.dynamodb/
